﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

    var profilepic = Model.CurrentPicture ?? "/pics/profile_pic.png";
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 order-2 order-md-1">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Username"></label>
                <input asp-for="Input.Username" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.JobTitle"></label>
                <input asp-for="Input.JobTitle" class="form-control" />
                <span asp-validation-for="Input.JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Salary"></label>
                <input asp-for="Input.Salary" class="form-control" />
                <span asp-validation-for="Input.Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CreditScore"></label>
                <input asp-for="Input.CreditScore" class="form-control" />
                <span asp-validation-for="Input.CreditScore" class="text-danger"></span>
            </div>
        </div>

        <div class="col-md-6 order-1 order-md-2">
            <div class="form-group avatar-upload">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" asp-for="PictureFile" />
                    <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">    
                    <div id="imagePreview" style="background-image: url(@profilepic);"> </div>
                    <div class="text-center">    
                        <button type="submit"  asp-page-handler="DeleteProfilePicture" class="btn btn-sm btn-outline-danger mt-3">Remove picture </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container order-last text-center pt-5">
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </div>
        

    </div>
</form>

@section Scripts 
{

<partial name="_ValidationScriptsPartial" />

}