﻿@model Blitzmove.Pages.MessagesModel
@{
    var activeConv = Model.ActiveConversationContactGuid;
}


@foreach (var m in Model.CurrentConversationMessages)
{
    var isIncomingMsg = !m.SenderGuid.Equals(Guid.Parse(Model.AppUser.Id));
    var msgType1 = isIncomingMsg ? "incoming_msg" : "outgoing_msg";
    var msgType2 = isIncomingMsg ? "received_msg" : "sent_msg";
    var msgType3 = activeConv == Model.SuperContactId ? "received_withd_supermsg": "received_withd_msg";

    <div class="@msgType1">
        <div class="@msgType2">
            <div class="@msgType3">
                <p>
                    @m.Content
                </p>
                <span class="time_date"> @m.CreatedDateTime </span>
            </div>
        </div>
    </div>
}

