﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>@ViewData["Title"]</title>

    <environment include="Development"> 
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="~/lib/bootstrap4-toggle.min.css">
        <link rel="stylesheet" href="~/lib/ion.rangeSlider.min.css"/>

        <link rel='stylesheet' href='~/lib/jquery.mapbox.geocoder/bootstrap-theme.css' type='text/css'/>
        <link rel="stylesheet" href="~/lib/mapbox-gl.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>

    <environment exclude="Development">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145890918-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-145890918-1');
        </script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE="/>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" href="~/lib/bootstrap4-toggle.min.css">
        <link rel="stylesheet" href="~/lib/ion.rangeSlider.min.css"/>

        <link rel='stylesheet' href='~/lib/jquery.mapbox.geocoder/bootstrap-theme.min.css' type='text/css'/>
        <link rel="stylesheet" href="~/lib/mapbox-gl.min.css"/>
        <link rel="stylesheet" href="~/css/site.min.css"/>
    </environment>

</head>


<body>

    <header>
        <nav id="headbar" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow 
                                 navbar-light bg-light">
            <div style="position:fixed;" class="col-7 col-sm-8 col-xl-8 pr-0">              
                <div class="row">
                    <div class="col-3 col-sm-4 col-lg-6">
                        <div class="row">
                            <div class="col-6 mt-1 pl-0 pr-0">
                                <a class="navbar-brand d-block" asp-page="/Index">
                                    <img class="d-none d-lg-block pl-2 pt-1" height=45 src="~/pics/pm-logo.png"/>
                                    <img class="d-lg-none pl-2 pt-1 float-left" height=45 src="~/favicon.ico"/>
                                </a>
                            </div>
                            <div class="col-6 mt-1 pl-0 pr-0 d-none d-xl-flex" style="justify-content:center;">
                                <a asp-page="/CreatePlace" class="btn btn-add-place">
                                    <b class="plussign">+</b> <b> Add My Place </b>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group has-search col-9 col-sm-8 col-lg-6 mt-3 pl-0 pr-0">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="search"  data-trigger="focus" class="form-control ds-input" id="search-input" 
                            placeholder="Moving to ?" autocomplete="off" spellcheck="false" role="combobox" 
                            aria-autocomplete="list" aria-expanded="false" dir="auto" >
                    </div>
                </div>
            </div>
            <div style="position:fixed;" class="offset-7 offset-sm-8 col-5 col-sm-4 col-xl-4 pr-0 pl-0">
                <div class="float-right navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" /> 
                </div>
            </div>
        </nav>
    </header>




    <main id="main" role="main" class="pb-5"> 
        @if (IsSectionDefined("Mainpage"))
        {
            // mainpage in a section to avoid loading it in a container (avoid centering)
            @RenderSection("Mainpage", required: false)
        }
        else
        {
            <div class=container>
                @RenderBody()
            </div>
        }
    </main>
    <partial name="_CookieConsentPartial" />




    <footer class="text-center border-top footer text-muted fixed-bottom">
        <small> 
            &copy; 2019 - Pickamove - 
            <a asp-area="" asp-page="/Faq">FAQ</a> 
            - <a asp-area="" asp-page="/Privacy">Privacy</a>
            - <a asp-area="" asp-page="/Contactus">Contact Us</a>
        </small>
    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src='~/lib/mapbox-gl.js'></script>
        <script src='~/lib/jquery.mapbox.geocoder/jquery.mapbox.geocoder.js'></script>
        <script>  mapboxgl.accessToken = 'pk.eyJ1IjoiZGVlamVwIiwiYSI6ImNrNTJ4ajBhOTAyZTMza29mY3M4Nm50ZmwifQ.M4CkUQEZm5yQJ3zwGs5anQ';  </script>
        <script src="~/lib/signalr/dist/browser/signalr.js"></script>

        <script src="~/lib/ion.rangeSlider.min.js"></script>
        <script src='~/lib/turf.min.js'></script>
        <script src="~/lib/p5.min.js"></script>
        <script src="~/lib/bootstrap4-toggle.min.js"></script>

        @RenderSection("Scripts", required: false)

        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>



    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        <script src='~/lib/mapbox-gl.min.js'></script>
        <script src='~/lib/jquery.mapbox.geocoder/jquery.mapbox.geocoder.min.js'></script>
        <script>  mapboxgl.accessToken = 'pk.eyJ1IjoiZGVlamVwIiwiYSI6ImNqejF0cmUydTBqODczbXFtMmIzY3psZmcifQ.SsAyNi7XjqR8fP0Egm0JFQ';  </script>
        <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>

        <script src="~/lib/ion.rangeSlider.min.js"></script>
        <script src='~/lib/turf.min.js'></script>
        <script src="~/lib/p5.min.js"></script>
        <script src="~/lib/bootstrap4-toggle.min.js"></script>

        @RenderSection("Scripts", required: false)

        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

</body>

</html>
