@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">

    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var profilePic = user.ProfilePicture ?? "/pics/profile_pic_mini.png";

        <div class="btn-toolbar">

            <li class="nav-item">
                <a asp-page="/CreatePlace" class="btn btn-sm btn-add-place-mini d-xl-none mr-1 mr-sm-3">
                    <span class="nav-txt-2">
                        <i class="fa fa-plus"></i>
                    </span>
                </a>
            </li>
            
            <li class="nav-item">
                <a asp-page="/Favorites" class="btn btn-sm button-navbar mr-1 mr-sm-3">  
                    <span class="nav-txt">
                        <i class="fa fa-heart-o d-inline-block"></i>
                        <p class="d-none d-xl-inline-block"> Favorites </p>
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a asp-page="/Messages" class="btn btn-sm button-navbar mr-1 mr-sm-3">
                    <span class="nav-txt">
                        <i class="fa fa-comment-o d-inline-block"></i>
                        <p class="d-none d-xl-inline-block"> Messages </p>
                    </span>
                </a>
            </li>


            <div class="dropdown" id="pamdropdown">

                <button data-display="static" data-flip="false" style="text-decoration: none;" 
                        type="button" class="btn btn-link pr-0 pr-sm-3 pl-0" data-toggle="dropdown" 
                        aria-haspopup="true" aria-expanded="false">

                    <img class="mini-profile-pic" src="@profilePic">
                    
                </button>

                <div class="dropdown-menu dropdown-menu-right">

                    <p style="letter-spacing: 3px;" class="fs-12d text-center text-uppercase mb-0"> @user.Name </p>

                    <div class="dropdown-divider"></div>

                    <a class="dropdown-item fs-15" asp-area="Identity" asp-page="/Account/Manage/Index"> MY SETTINGS </a>
                    <a class="dropdown-item fs-15" asp-page="/MyPlaces"> MY PLACES </a>
                    <a class="dropdown-item fs-15" asp-page="/MyApplications"> MY APPLICATIONS </a>
                    <a class="dropdown-item fs-15" asp-page="/MyBalance"> MY BALANCE </a>

                    <div class="dropdown-divider"></div>

                    <form  class="dropdown-item text-center" asp-area="Identity" asp-page="/Account/Logout" 
                        asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" >
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>

            </div>

        </div>
    }
    else
    {
        <div class="btn-toolbar">
            <li class="nav-item">
                <a class="menu-nav-link" asp-area="Identity" asp-page="/Account/Register">
                    Register
                </a>
            </li>
            
            <li class="nav-item">
                <a class="menu-nav-link" asp-area="Identity" asp-page="/Account/Login">
                    Login
                </a>
            </li>
        </div>
    }
</ul>
