@model Tuple<string, bool, string>

@{
    var isIncomingMsg = !Model.Item2;
    var msgType1 = isIncomingMsg ? "incoming_msg" : "outgoing_msg";
    var msgType2 = isIncomingMsg ? "received_msg" : "sent_msg";
}


<div class="@msgType1">
    <div class="@msgType2">
        <div class="received_withd_msg">
            <p>
                @Model.Item1
            </p>
            <span class="time_date"> @DateTime.Now </span>
        </div>
    </div>
</div>