@model IndexModel 


@foreach (var showedplace in Model.selectedPlaces ?? Enumerable.Empty<ShowedPlace>())
{
<li>
    <a asp-page="/Place" asp-route-id=@showedplace.place.Id class="list-group-item list-group-item-action flex-column align-items-start ad-preview">
    <div class="row">
        <div class="col-4">
            @if(showedplace.place.Pictures.Count != 0)
            {
                <img class="imgpreview" src="@showedplace.place.GetInlinePictureSrc(0)" />
            }
            else { <img class="imgpreview" src="/pics/default-place.png" /> }
        </div>
        <div class="col-6 offset-2">
            <div class="d-flex w-100 justify-content-between">
                <div id="rentandbeds">
                    <h5 class="fw-211"> $@showedplace.place.Rent </h5>
                    @if(@showedplace.place.Bedrooms > 1)
                    {
                        <p class="fs-17"> @showedplace.place.Bedrooms BEDROOMS </p>
                    }
                    else if(@showedplace.place.Bedrooms == 1)
                    {
                        <p class="fs-17"> @showedplace.place.Bedrooms BEDROOM </p>
                    }
                    else 
                    {
                        <p class="fs-17"> STUDIO </p>
                    }
                </div>
                
                @if(!showedplace.isFaved)
                {
                    <i class="heart fa fa-heart-o" data-toggle="tooltip" 
                        data-placement="top" title="Add Favorite"></i>
                }
                else{
                    <i class="heart fa fa-heart" data-toggle="tooltip" 
                        data-placement="top" title="Remove Favorite"></i>
                }
                
            </div>
            <p class="d-none">@showedplace.place.GpsLongitude</p>
            <p class="d-none">@showedplace.place.GpsLatitude</p>
            <p class="d-none">@showedplace.place.Id</p>
        </div>
    </div>
    </a>
</li>
}

<script>
    $('[data-toggle="tooltip"]').tooltip();

    $(".heart.fa").click(function(e) {
        e.preventDefault();

        var handlerurl;
        if($(this).hasClass("fa-heart-o")) handlerurl = '/Index?handler=AddFavorite';
        else handlerurl = '/Index?handler=RemoveFavorite';

        var $t = $(this);

        $.ajax({
            type: 'POST',
            url: handlerurl,
            data: {
                favid: e.target.parentElement.parentElement.getElementsByTagName("p")[3].textContent
            },
            datatype: "html",
            headers: {
                RequestVerificationToken: 
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            success: function(data)          
            {   
                if($t.hasClass("fa-heart-o")) 
                {
                    $t.tooltip('hide')
                        .attr('data-original-title', 'Remove Favorite')
                        .tooltip('show');
                }
                else
                {
                    $t.tooltip('hide')
                        .attr('data-original-title', 'Add Favorite')
                        .tooltip('show');
                }

                $t.toggleClass("fa-heart fa-heart-o");
                $t.parents().blur();
            },
            error: function () {
                window.location.href = '/Identity/Account/Login';
            }
        });
    });

    // Change markers on li hover

    jQuery('ul li').hover(function () {
        if (map.getLayer('places')){
            try{
                map.setLayoutProperty("places", 'icon-image', ["case", ["==", ["get", "name"], this.getElementsByTagName("p")[3].textContent], "red-marker", "default-marker"]);
                //map.setLayoutProperty("places", 'icon-offset', ["case", ["==", ["get", "name"], this.getElementsByTagName("p")[3].textContent], ["literal", [0, -30]],["literal", [0, -20]]]);
                //map.setLayoutProperty("places", 'icon-size', ["case", ["==", ["get", "name"], this.getElementsByTagName("p")[3].textContent], 1, 1]);

                // Change the cursor style as a UI indicator.
                map.getCanvas().style.cursor = 'pointer';
                
                var coordinates = [this.getElementsByTagName("p")[1].textContent,
                                   this.getElementsByTagName("p")[2].textContent];
                
                var description = this.getElementsByTagName("h5")[0].textContent + " | " +
                                  this.getElementsByTagName("p")[0].textContent.toLowerCase();
                
                popup.setLngLat(coordinates).setHTML(description).addTo(map);
            }
            catch(error){}
        }
    }, function () {
        if (map.getLayer('places')){
            map.setLayoutProperty("places", 'icon-image', "default-marker");
            //map.setLayoutProperty("places", 'icon-offset', [0,-20]);
            //map.setLayoutProperty('places', 'icon-size', 1);
        }

        map.getCanvas().style.cursor = '';
        popup.remove();
    });

</script>