@model PlaceModel

<a id="mailsharing" href="#" class="fa fa-envelope custom-fa"></a>
<a id="fbsharing" href="#" class="fa fa-facebook custom-fa"></a>
<a id="redditsharing" href="#" class="fa fa-reddit custom-fa"></a>
<a id="twittersharing" href="#" class="fa fa-twitter custom-fa"></a>


<script>
    var placetitle = document.getElementById("place-title").innerHTML;

    var mail = document.getElementById('mailsharing');
    var facebook = document.getElementById('fbsharing');
    var reddit = document.getElementById('redditsharing');
    var twitter = document.getElementById('twittersharing');

    mail.onclick = function() {
        this.href = "mailto:?subject=";
        this.href += placetitle + "&body=";
        this.href += 'Check out this apartment: <br>' + window.location.href;
    };

    facebook.onclick = function() {
        this.href = "https://www.facebook.com/sharer/sharer.php?u=";
        this.href += window.location.href;
    };

    reddit.onclick = function() {
        this.href = "http://www.reddit.com/submit?url=";
        this.href += window.location.href;
        this.href += '&title=' + placetitle;
    };

    twitter.onclick = function() {
        this.href = "https://twitter.com/intent/tweet?text=";
        this.href += 'Check out this apartment: ' + window.location.href;
    };

</script>