﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');  /* favorite button font*/

@import url('https://fonts.googleapis.com/css?family=Chelsea+Market&display=swap');

@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');        /* Place description font*/


.grecaptcha-badge {
  visibility: collapse !important;
  display: none !important;
}

.fw-100 { color: #777777;font-weight: 100; font-size:20px;}
.fs-20 { color: #777777;font-weight: 100; font-size:20px;}
.fs-20b { color: #111111;font-weight: 400; font-size:20px}
.fs-17 { color: #777777;font-weight: 100; font-size:17px;}
.fs-17b { color: #333333;font-weight: 600; font-size:17px;}
.fw-100m { color: rgb(65, 133, 65);font-weight: 100; font-size:20px;}
.fs-18 { color: #111111;font-weight: 100; font-size:18px;}
.fs-15 { color: #111111;font-weight: 100; font-size:15px;}
.fs-15g { color: rgb(65, 133, 65);font-weight: 100; font-size:15px;}
.fs-15b { color: #bb0000;font-weight: 100; font-size:15px;}
.fs-12 { color: rgb(65, 133, 65);font-weight: 100; font-size:12px;}
.fs-12b { color: #333333;font-weight: 100; font-size:12px;}
.fs-12c { color: #bb0000;font-weight: 100; font-size:12px;}
.fs-12d { color: #bbbbbb;font-weight: 100; font-size:12px;}
.fw-111 { color: #111111;font-weight: 100; font-size:32px}
.fw-211 { color: rgb(65, 133, 65); font-weight: 100; font-size:27px}

.nav-txt {color: #5AB8F8; font-size:15px; }
.nav-txt-2 {color: white; font-size:15px; }

* {
  font-family: 'Cabin', sans-serif;
}

a {
  color: #0366d6;
}


.chelseafont{
  font-family: 'Cabin', sans-serif;
}

main{
  padding-top:57px;
}

h1 {
  margin-top:57px ;
  margin-bottom:57px ;
  color: #777777;
  /* font-weight: 100;  */
  font-size:40px;
}

h2{
  margin-top:5vh;
  margin-bottom:5vh;
  color: #777777;
  font-weight: 100;
}

h3{
  margin-top:5vh;
  margin-bottom:5vh;
  color: #111111;
  font-weight: 100; 
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  /* overflow: hidden; */
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:99;
  min-width:481px;
}

#headbar{
  height:57px;
  padding-left:0;
  padding-right:0;
  padding:0;
  margin:0;
}

/**** Validation    ****/
.field-validation-error {
  color: #d9534f;
  font-weight: bold;
  font-size: 1.1em;
}

.field-validation-valid {
  display: none;
}

.input-validation-error {
  border: 2px solid #d9534f;
  background-color: white;
}

.validation-summary-errors {
  color: #d9534f;
  font-weight: bold;
  font-size: 1.1em;
}

.validation-summary-valid {
  display: none;
}
/**** END: Validation ****/

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  z-index:1;
  /* Set the fixed height of the footer here */
  height: 25px;
  line-height: 25px; /* Vertically center the text there */
}


label{
  text-align:right;
}

#cookieConsent{
  position: relative;
  bottom:25px;
}

#cookieButton{
  padding-top:15px;
  padding-left:15px;
  font-size: 12px;
}

.mapbox-improve-map {
  display: none;
}

.mapboxgl-popup {
  color: #0088ff;
  font-weight: bold;
}

#map {
  position: absolute;
  top: 0vh;
  bottom: 0vh; 
  left:0;
  right:0;
}

.heart {
  font-size: 21px;
  color: rgb(207, 207, 207);
  height:21px;
}

.heart:hover {
  color:rgb(217, 83, 79);
}

.fa-heart
{
  color:rgb(217, 83, 79);
}


.container-main-page {
  position:absolute;
  height: calc(100% - 82px); /* 72px = 57px + 25px*/
  width: 100%;
  padding-left:0;
  padding-right:0;
  margin-left:0;
  margin-right:0;
}

#mainsidebar {
  padding-left:0;
  padding-right:0;
  margin-left:0;
  margin-right:0;
  overflow:auto;
  min-width: 330px;
}

.favorites{
  padding-top:    120px;
  padding-right:  3rem !important;
  padding-left:   3rem !important;
  padding-bottom: 3rem !important;
}

.list-group-fav{
  margin-bottom: 0vh;
  padding-left:0;
  padding-right:0;
  margin-left:0vh;
  margin-right:0vh;
  overflow:scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.list-group{
  max-height: calc(100vh - 230px); /* percentage of viewport */
  margin-bottom: 0vh;
  padding-left:0;
  padding-right:0;
  margin-left:0vh;
  margin-right:0vh;
  overflow:scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  padding-bottom:5px;
  padding-top:4px;
}


.list-group-item{
  max-height: 20vh;
}

.ad-preview {
  background-color: white;
  outline:none;
  border-radius:0px !important;
}

.ad-preview:focus {
  background-color: white;
}

.ad-preview:hover {
  background-color: white;
  box-shadow: 0 0 9px rgba(100, 100, 100, 1);
}

.imgpreview {
  display: block;
  max-width: 15vmin;
  max-height: 15vmin;
  max-width: 15vm;  /*fallback for ie9*/
  max-height: 15vm; /*fallback for ie9*/
  border-radius:7px;
  object-fit: cover;
  width: 15vmin;
  height: 15vmin;
  width: 15vm;  /*fallback for ie9*/
  height: 15vm; /*fallback for ie9*/
}

#rentandbeds{
  padding-left:0px;
  padding-right:0px;
}

@media screen and (min-height: 477px) {
  #rentandbeds{
    padding-top:3vmin;
  }
}


#admap {
  position: relative;
  top: 0vh;
  width: 100%;
  min-height: 300px;
  border-radius:21px !important;
}

#adcontact{
  padding-top:50px;
}

#addescription{
  font-family: 'Cabin', sans-serif;
  color: #444;
  white-space: pre-wrap;
  text-align: justify;
}


/*scrollbar style*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: white;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 166, 0);
  border-radius: 16px;
}
/* ::-webkit-scrollbar {
  display: none;
  } */
/* Handle on hover
::-webkit-scrollbar-thumb:hover {
  background: #555;} */


/*Filter section*/

.roboto {
  font-family: "Roboto";
}

span {
  display: block;
}

.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#filters{
  position:absolute;
  left: 0; 
  right: 0;
  bottom: 0;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
}

#rentlabel{
  padding-top:15px;
}

/* ******** CAROUSEL ************/

#maincarousel{
  background-color: #ece0ca;
  width: auto;
  /* height: 300px; */
  border-radius: 7px;
}

#carouselcenter:hover{
  cursor: pointer;
}

.carousel-item{
  border-radius: 7px;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  #maincarousel{
    height: 200px;
  }

  .carousel-item > img{
    height: 200px;
  }
}

@media screen and (min-width: 576px) {
  #maincarousel{
    height: 300px;
  }

  .carousel-item > img{
    height: 300px;
  }
}

.carousel-item > img{
  object-fit: cover;
  border-radius: 7px;

  /* height:300px; */
  width:auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 70px;
  width: 70px;
}

#carouselModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255,0.7); /* White w/ opacity */
}
#carouselModalImg {
  margin: auto;
  display: block;
  height: auto;
  max-width:80vw;
  border-radius: 21px;
}
#carouselModalClose {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #a7a7a7;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}
#carouselModalClose:hover,
#carouselModalClose:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* ******** END CAROUSEL ************/


/********** SOCIAL SHARE BUTTONS *********/

.fa-envelope {
  background: rgb(170, 170, 170);
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.custom-fa:hover{
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.custom-fa {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  width: 33px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
  border-radius:7px;
}

/****** END OF SOCIAL SHARE BUTTONS ******/

#placeFavorite{
  outline: none;
  box-shadow: none;
  display:      block;
  margin-left:  auto;
  margin-right: 0;
  border-color: rgb(233, 233, 233);
  color: rgb(133, 133, 133);
}

#placeFavorite:hover{
  background-color: rgb(240, 240, 240);
}

#placeModal{
  background-color: rgba(255,255,255,0.7);
}

#applicationModal{
  background-color: rgba(255,255,255,0.7);
}

#MessageModal{
  background-color: rgba(255,255,255,0.3);
}

#MessageModalContent{
  border-radius: 21px;
  border: none;
}

#modal-textmessage{
  outline: none;
  box-shadow: none;
}

.button-filter,
.button-filter:hover{
  background: #c9e6ff;
  border-color: #0088ff;
  width: 40px;
  color:#555555;
}

.button-filter:focus{
  outline: none;
  box-shadow: none;
}

.button-filter-activ{
  background: #0088ff;
  border-color: #0088ff;
  outline: none;
  box-shadow: none;
  width: 40px;
  color:#ffffff;
}

.button-filter-activ:focus{
  outline: none;
  box-shadow: none;
}


.button-filter-lg,
.button-filter-lg:hover{
  background: #c9e6ff;
  border-color: #0088ff;
  width: 70px;
  color:#555555;
}

.button-filter-lg:focus{
  outline: none;
  box-shadow: none;
}

.button-filter-lg-activ{
  background: #0088ff;
  border-color: #0088ff;
  outline: none;
  box-shadow: none;
  width: 70px;
  color:#ffffff;
}

.button-filter-lg-activ:focus{
  outline: none;
  box-shadow: none;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
  max-width: 100%; 
  box-sizing: border-box;
  margin: 0;
  border: 1px solid grey;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  border-radius: .5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23777777%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
                    linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #777777;
}
.select-css:focus {
  border-color: #777777;
  box-shadow: none;
  color: #222; 
  outline: none;
}
.select-css option {
  font-weight: normal;
  color: #777777;
  font-size:17px;
}

.select-css-orange{
  border: 1px solid rgb(255, 200, 98);
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23ffa500%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
}
.select-css-orange:hover {
  border-color: rgb(255, 200, 98);
}
.select-css-orange:focus {
  border-color: orange;
}

.select-css-blue{
  border: 1px solid #0088ff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%230088ff%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
}
.select-css-blue:hover {
  border-color: #0088ff;
}
.select-css-blue:focus {
  border-color: #0088ff;
}

/*Dual Slider ion range custom colors*/
.irs--flat .irs-handle>i:first-child {
  background-color: #17a2b8!important;
}
.irs--flat .irs-bar {
  background-color: #17a2b8!important;
}
.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  background-color: rgb(65, 133, 65)!important;
}
.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
  border-top-color: rgb(65, 133, 65)!important;
}

/*Add your place button*/

.btn-rounded {
  border-radius: 50px!important;
}

.btn-add-place,
.btn-add-place:focus
{
  position:absolute;
  top: 9px;
  border-radius: 50px!important;
  background: #ff9b61;
  color: white;
  outline: none;
  box-shadow: none;
}

.btn-add-place:hover
{
  background: #ff853e;
  color: white;
}

.plussign{
  font-size:21px;
}

/*Datepickers*/
.datepickers{
  padding-right:0;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

/*Main Search Bar*/
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#search-input:focus{
  border-color: rgb(252, 201, 159);
  outline: none;
  box-shadow: none;
}


/* Rounded Map Add button */
.overlay {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
   
.overlay button {
  font:600 33px 'Cabin', sans-serif;
  background-color: #ff8138;
  color: #fff;
  display: inline-block;
  margin: 0;
  padding: 4px 15px;
  border: none;
  cursor: pointer;
  border-radius: 70px;
  outline: none;
  box-shadow: none;
}
  
.overlay button:hover {
  background-color:#fc650d;
}

/*nav bar menu*/
.menu-nav-link{
  color:rgb(34, 130, 255);
  padding:10px;
}
.menu-nav-link:hover{
  color:rgb(0, 108, 248);
  text-decoration: none;
}
.dropdown-item{
  background-color:white;
  color:rgb(70, 70, 70);
}
.dropdown-item:hover{
  background-color:white;
  color:rgb(34, 130, 255);
}

#adinfos{
  padding:15px;
}

.btn-submit,
.btn-submit:focus
{
  background: #ff8138;
  color: white;
  outline: none;
  box-shadow: none;
}

.btn-submit:hover
{
  background: #fc650d;
  color: white;
}

.btn-browse
{
  border-color: rgb(255, 200, 98);
  background: white;
  color: orange;
  outline: none;
  box-shadow: none;
}

#file-count{
  padding-top:10px;
  color:grey;
}

#file-upload{
  padding-top:10px;
  color:grey;
}


.orangeinput
{
  border-color: rgb(255, 200, 98);
  border-width: thin;
  outline: none;
  box-shadow: none;
}

.orangeinput:focus
{
  border-color: orange;
  box-shadow: none;
}

.blueinput
{
  border-color: #93cdff;
  border-width: thin;
  outline: none;
  box-shadow: none;
}

.blueinput:focus
{
  border-color: #6fbcff;
  box-shadow: none;
}

.createadtext{
  color: #777777; 
  font-weight: 100; 
  font-size:17px;
  padding-left:0;
  padding-right:0;
}

hr { margin: 21px 0 21px 0; }

/*
.bonusinput{
  text-align: center;
  border-color: #ffc400;
  border-width: thin;
  background: #ffeeb8;
  outline: none;
  box-shadow: none;
  width:90px;
}
.bonusinput:focus{
  border-color: #ffc400;
  border-width: thin;
  background: #ffeeb8;
  outline: none;
  box-shadow: none;
}
*/

.padfifty{
  padding-top:50px;
}

.bottompad{
  padding-bottom:100px;
}

.apply-info{
  display: block;
  overflow: auto;
  height:auto;
  padding-top:7px;
  padding-left:7px;
  border-style:solid;
  border-width: thin;
  border-radius:5px; 
  border-color:rgb(198, 225, 247);
  background:rgb(247, 247, 247)
}

.reward-section{
  height:52px;
  padding-top:7px;
  padding-left:7px;
  border-style:solid;
  border-width: thin;
  border-radius:5px;
  border: 1px solid #dee2e6;
  background:rgb(255, 247, 223);
}

#hiddenPlaces{
  padding-top: 10%;
  color: #a7a7a7;
  font-weight: 100; 
  font-size:20px;
}

.starcolor{
  display:inline;
  padding-bottom : 0px;
  color: #ff7a7a;
}


/********* TABLE ******/

table { 
  border: 1px solid #dee2e6;
  border-radius: 21px; 
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}

table tr:last-child > td {
  border-bottom: none;
}
table tr:first-child > td {
  border-top: none;
}

.bluerow{
  background-color: rgb(241, 251, 255);
}

.beigerow{
  background-color: rgb(255, 247, 223);
  border-radius: 13px; 
}

.pinkrow{
  background-color: rgb(255, 245, 245);
}
/**********************/

.button-navbar{
  background: #ffffff;
  border-color: #5ab8f8;
  height:32px;
  margin-top:7px;
}

.button-navbar:hover{
  background: #f7fbff;
}

.button-navbar:focus{
  outline: none;
  box-shadow: none;
}

.btn-add-place-mini{
  background: #ff8138;
  border-color: #ff8138;
  height:32px;
  margin-top:7px;
}

.btn-add-place-mini:hover{
  background: #fc650d;
}

.btn-add-place-mini:focus{
  outline: none;
  box-shadow: none;
}


/***************************** PROFILE PICTURE ********************************/

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid rgb(243, 242, 242);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mini-profile-pic{
  border-radius: 100%;
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.applicant-profile-pic{
  border-radius: 100%;
  margin-top:15px;
  margin-bottom:15px;
  margin-left:15px;
  margin-right:15px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
/*************************** END OF PROFILE PICTURE ***************************/


/**************************************** MY MESSAGES ****************************************/

.rmconv {
  font-size: 21px;
  color: rgb(255, 77, 77);
}

.contactTab
{
  min-width:250px;
  background-color: white !important;
  outline:none;
  border-radius:0px !important;
}


.contactTab:hover {
  background-color: white;
  box-shadow: 0 0 5px rgba(100, 100, 100, 1);
}

#blitzmoveTab{
  background-color: rgb(255, 255, 233) !important;
}

#blitzmoveTab:hover {
  box-shadow: 0 0 5px rgba(100, 100, 100, 1);
}

.blitzmove-profile-pic{
  /* border-radius: 100%; */
  margin-top:10px;
  margin-bottom:10px;
  margin-left:0px;
  margin-left:10px;
  margin-right:0px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
}

.messager-profile-pic{
  border-radius: 100%;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:0px;
  margin-right:0px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.messager_username{ 
  font-size:15px;
  font-weight: 100;
  color:#464646; 
  margin:10px 0 8px 0;
}

.last_message_date{
  font-size:13px; 
  float:left;
  color:#777777; 
}


.message-container{
  margin:0;
}

.inbox_people {
 margin:0;
 padding:0;
 background: #f8f8f8 none repeat scroll 0 0;
 float: left;
 overflow: hidden;
 border-right:1px solid #c4c4c4;
}

.inbox_chat {
 height:600px;
 margin:0;
 padding:0;
 overflow-y: scroll;
 scrollbar-width: thin;
 list-style-type: none;
}


.inbox_msg {
 border: 1px solid #c4c4c4;
 border-radius: 21px;
 clear: both;
 overflow: hidden;
}


.mesgs {
 float: left;
 padding: 30px 15px 0 25px;
}

.top_spac{ 
 margin: 20px 0 0;
}

.recent_heading {
 float: left; 
 width:40%;
}

.headind_srch{
 padding:10px 29px 10px 20px; 
 overflow:hidden; 
 border-bottom:1px solid #c4c4c4;
}

.recent_heading h4 {
 color: #05728f;
 font-size: 21px;
 margin: auto;
}


.chat_ib p{
 font-size:14px;
 color:#989898;
 margin:auto;
}


.chat_ib {
 float: left;
 padding: 0 0 0 15px;
 width: 88%;
}

.chat_people{ 
 overflow:hidden; 
 clear:both;
}

/* .chat_list {
 border-bottom: 1px solid #c4c4c4;
 margin: 0;
 padding: 18px 16px 10px;
}
.active_chat{ 
 background:#ebebeb;
} */


.incoming_msg_img {
 display: inline-block;
 width: 6%;
}

.received_msg {
 display: inline-block;
 padding: 0 0 0 10px;
 vertical-align: top;
 width: 92%;
}

.received_withd_msg p {
 background: #e9e9e9 none repeat scroll 0 0;
 border-radius: 9px;
 color: #646464;
 font-size: 14px;
 margin: 0;
 padding: 5px 10px 5px 12px;
 width: 100%;
}

.received_withd_supermsg p {
  background: rgb(123, 137, 255) none repeat scroll 0 0;
  border-radius: 9px;
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
 }

.time_date {
 color: #747474;
 display: block;
 font-size: 12px;
 margin: 8px 0 0;
}

.received_withd_msg { 
 width: 100%;
}

.sent_msg p {
 background: #ffe9b9 none repeat scroll 0 0;
 border-radius: 9px;
 font-size: 14px;
 margin: 0;
 color:#646464;
 padding: 5px 10px 5px 12px;
 width:100%;
}

.outgoing_msg{ 
 overflow:hidden; 
 margin:26px 0 26px;
}

.sent_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}

.input_msg_write input {
 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
 border: medium none;
 border-radius: 21px;
 color: #4c4c4c;
 font-size: 15px;
 min-height: 48px;
 width: 100%;
}

.type_msg {
 border-top: 1px solid #c4c4c4;
 position: relative;
}

.msg_send_btn {
 background: #5AB8F8 none repeat scroll 0 0;
 border: medium none;
 border-radius: 50%;
 color: #fff;
 cursor: pointer;
 font-size: 15px;
 height: 33px;
 position: absolute;
 right: 7px;
 top: 7px;
 width: 33px;
}

.msg_history {
 height: 516px;
 overflow-y: auto;
}
/*************************************** END OF MY MESSAGES **************************************/


/******************************************** CONTACT US *****************************************/

#fname1, #fname2, #subject {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 200, 98);
  outline: none;
  box-shadow: none;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#subbutton {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#subbutton:hover {
  background-color: #45a049;
}

#contactusform {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
}

.bluechelsea{
  font-family: 'Cabin', sans-serif;
  color:#5AB8F8;
}

/*************************************** END OF CONTACT US **************************************/



.watermark
{
  /* position: fixed; */
  text-align: center;
  padding-top: 150px;
  padding-left: 0;
  z-index:99;
  top:50%;
}

.application-details
{
  max-width:500px; 
  margin-left: auto; 
  margin-right: auto;
}
