﻿@page "{placeId}"
@model ApplyModel

@{
    var place = Model.Place;
    ViewData["Title"] = "Applying To "+ place.Address;
}

@if(TempData[ApplyModel.MessageKey] is string message) 
{
    <h2 class="title"> Application Successful ! </h2>

    <div class="container">
        <div class="row">
            <div class="col-md-8">      
                <p class="fs-18">@message</p>
            </div>
            <div class="col-md-4">
                <img class="centerimage" src="/pics/success.png" />
            </div>
        </div>
    </div>

}
else
{
    
<h2>Applying To @place.Address</h2>


<form method="post" asp-antiforgery="true">
    <div class="container">
        <div class="row">
            <div class="col-md-8 order-2 order-md-1">
                
                <div asp-validation-summary="ModelOnly"/>
                
                @{
                    var isCreditNotSet = Model.AppUser.CreditScore == 0;
                    var isSalaryNotSet = Model.AppUser.Salary == 0;
                    var isJobTitleNotSet = string.IsNullOrEmpty(Model.AppUser.JobTitle);
                }

                <div class="padfifty container">
                    <div class="reward-section">
                        <div class="container row form-group">
                            <div class="text-center col-8 col-md-6">
                                <span class="fw-100 chelseafont"> 
                                    <i class="fa fa-info-circle" data-toggle="tooltip" 
                                        data-placement="top" title="Reward to tenant"></i> Reward $
                                </span>
                            </div>
                            <div class="col-4 col-md-6">
                                <input asp-for="RewardValue" type="number" min="0" class="form-control text-center" />
                                <span asp-validation-for="RewardValue"/>
                            </div>
                        </div>
                    </div>
                    <span class="fs-12c">
                        By entering a reward, I understand that if the current tenant agrees to a visit, 
                        I engage myself to reward him or her the following amount after my new tenancy contract 
                        is signed with the landlord or landlady.
                    </span>
                    <br>
                </div>

                <div class="container">
                    @if (isCreditNotSet || isSalaryNotSet || isJobTitleNotSet)
                    {
                        <span class="chelseafont fw-100">
                            Although optional, this information allows 
                            the current tenant to pre-screen applicants for the landlord/lady.
                        </span>
                        <br>
                    }
                    @if (isJobTitleNotSet)
                    {
                        <div class="container">
                            <div class="row form-group">
                                <div class="chelseafont fs-15 col-md-4 control-label">
                                    <label class="float-right" asp-for="JobTitle"></label>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="JobTitle" class="form-control"/>
                                    <span asp-validation-for="JobTitle"></span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (isSalaryNotSet)
                    {
                        <div class="container">
                            <div class="row form-group">
                                <div class="chelseafont fs-15 col-md-4 control-label">
                                    <label class="float-right" asp-for="Salary"></label>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="Salary" class="form-control"/>
                                    <span asp-validation-for="Salary"></span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (isCreditNotSet)
                    {
                        <div class="container">
                            <div class="row form-group">
                                <div class="chelseafont fs-15 col-md-4 control-label">
                                    <label class="float-right" asp-for="CreditScore"></label>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="CreditScore" class="form-control"/>
                                    <span asp-validation-for="CreditScore"></span>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="container">
                    <span class="chelseafont fw-100">
                        Any more details ?
                    </span>
                    <br>
                    <div class="container">
                        <div class="row form-group">
                            <div class="col-md-8">
                                <textarea asp-for="Details" maxlength="140" rows=3 class="form-control"></textarea>
                                <span asp-validation-for="Details"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 order-1 order-md-2">
                <img class="centerimage pb-5" src="/pics/profile_recap.png" />
            </div>

        </div>
    </div>


    <br>
    <div class="text-center pb-5 chelseafont">
        <button type="submit" class="btn btn-submit btn-lg"> Apply </button>
    </div>
    @if(TempData[PlaceModel.MessageOwn] is string messageown)
    {
        <div class="container">
            <p class="fs-15b text-center"> @messageown </p>
        </div>
    }
    
</form>
}

@section Scripts
{

}
