@page
@model ContactusModel
@using Microsoft.Extensions.Options
@inject IOptions<Blitzmove.Models.ReCAPTCHASettings> GooglereCAPTCHA
@{
    ViewData["Title"] = "Contact Us";
}

<h2>@ViewData["Title"]</h2>


<div id="contactusform" class="container">

  <form method="post" asp-antiforgery="true" class="form-horizontal" enctype="multipart/form-data">

    <label class="bluechelsea" for="fname">Your Name</label>
    <input id="fname1" type="text" asp-for="Data.Name" placeholder="Your name">
    <span asp-validation-for="Data.Name"></span>

    <label class="bluechelsea" for="fname">Your Email</label>
    <input id="fname2" type="text" asp-for="Data.Email" placeholder="Your email">
    <span asp-validation-for="Data.Email"></span>

    <label class="bluechelsea" for="subject">How can we help you ?</label>
    <textarea id="subject" maxlength="3000" asp-for="Data.Content" rows="5"></textarea>
    <span asp-validation-for="Data.Content"></span>

    <input type="hidden" id="GoogleToken" asp-for="Data.Token" />
    
    <div class="text-center">
        @if(TempData[ContactusModel.MessageSent] is string messagesent)
        {
            <div class="container">
                <p class="chelseafont fs-17"> @messagesent </p>
            </div>
        }
        else{
            <input class="bluechelsea" id="subbutton" type="submit" value="Submit">
        }
    </div>

  </form>

</div>


@section Scripts
{    
    <script src="https://www.google.com/recaptcha/api.js?render=@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key', {action: 'homepage'}).then(function(token) {
                $("#GoogleToken").val(token);
             });
        });
    </script>
}