@page "{id?}" // we need the id in editing mode
@model CreatePlaceModel
@using Microsoft.Extensions.Options
@inject IOptions<Blitzmove.Models.ReCAPTCHASettings> GooglereCAPTCHA
@{
    ViewData["Title"] = Model.IsNewPlace ? "Adding My Place" : "Edit Place";
}

@if(TempData[CreatePlaceModel.MessageKey] is string message) 
{
    @if(Model.IsNewPlace)
    {
        <h2 class="title"> Place successfully added ! </h2>
    }
    else{
        <h2 class="title"> Changes saved. </h2>
    }

    <div class="container">
        <div class="row">
            <div class="col-8">
                <p class="fs-18">@message</p>
                <div class="row">
                    <div class="col-8">
                        <!-- <partial name="_SocialSharePartial" />  -->
                    </div>
                    <div class="col-4">
                        <a role="button" asp-page="/Place" asp-route-id=@TempData[CreatePlaceModel.MessageId] 
                            class="btn btn-outline-info mt-2"> View </a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <img class="centerimage" src="/pics/success.png" />
            </div>
        </div>
    </div>
}
else
{

<div class="container">
    @if(Model.IsNewPlace)
    {
        <h2 class="title"> Adding My Place </h2>
    }
    else{
        <h2 class="title"> Edit Place </h2>
    }

    <form method="post" asp-antiforgery="true" class="form-horizontal" enctype="multipart/form-data">

        <div class="row form-group">
            <label class="chelseafont fs-17 col-md-3 control-label">My Current Address<p class="starcolor"> *</p></label>
            <div class="col-md-7 has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input asp-for="Place.Address" type="search" data-trigger="focus" class="form-control orangeinput ds-input" id="search-address" 
                    placeholder="" autocomplete="off" spellcheck="false" role="combobox" 
                    aria-autocomplete="list" aria-expanded="false" dir="auto" 
                    style="position: relative;">
                <span asp-validation-for="Place.Address"></span>

                <input id="placeLongitude" type="hidden" asp-for="Place.GpsLongitude">
                <input id="placeLatitude" type="hidden" asp-for="Place.GpsLatitude">
                <span asp-validation-for="Place.GpsLongitude" data-valmsg-replace="true">The Address must be searchable.</span>
            </div>
        </div>
        <div class="row form-group">
            <p class="chelseafont createadtext col-md-3 pr-3" style="text-align:right">I would prefer to live</p>
            <div class="float-left col-md-7 has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input asp-for="Place.NewAddress" type="search" data-trigger="focus" class="form-control blueinput ds-input" id="new-address" 
                        placeholder="Near Friends, Work, Family, etc ..." autocomplete="off" spellcheck="false" role="combobox" 
                        aria-autocomplete="list" aria-expanded="false" dir="auto" 
                        style="position: relative;">
                <span asp-validation-for="Place.NewAddress"></span>
                <input id="adnewlongitude" type="hidden" asp-for="Place.NewGpsLongitude">
                <input id="adnewlatitude" type="hidden" asp-for="Place.NewGpsLatitude">
                <span asp-validation-for="Place.NewGpsLongitude" data-valmsg-replace="true">The Address must be selected.</span>
            </div>
            <!-- <div class="row col-md-3">
                <p class="createadtext col-md-8" style="text-align:left"> within a radius of </p>
                <select class="col-md-4 select-css select-css-blue" asp-for="Place.Bedrooms">
                    <option value="1" selected="selected"> 1 km </option>
                    <option value="5" > 5 km </option>
                </select>
            </div> -->
        </div>
        <hr class="col-md-7 offset-md-3 createadtext">
        <div class="row form-group">
            <label asp-for="Place.Rent" class="chelseafont fs-17 col-md-3 control-label">My Current Rent<p class="starcolor"> *</p></label>
            <div class="col-md-3">
                <input asp-for="Place.Rent" type="number" autocomplete="off" class="form-control orangeinput" />
                <span asp-validation-for="Place.Rent"></span>
            </div>
        </div>
        <div class="row form-group">
            <label class="chelseafont fs-17 col-md-3 control-label">Bedrooms<p class="starcolor"> *</p> </label>
            <div class="col-md-3">
                <select class="select-css select-css-orange" asp-for="Place.Bedrooms">
                    <option value="" selected="selected">Select a number</option>
                    <option value="0"> Studio </option>
                    <option value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                    <option value="6"> 6 </option>
                    <option value="7"> 7 </option>
                </select>
                <span asp-validation-for="Place.Bedrooms" data-valmsg-replace="true">The Bedrooms field is required.</span>
            </div>
        </div>
        <div class="row form-group">
            <label  class="chelseafont fs-17 col-md-3 control-label">Description<p class="starcolor"> *</p></label>
            <div class="col-md-7">
                <textarea asp-for="Place.Description" maxlength="3000" rows="5" class="form-control orangeinput"></textarea>
                <span asp-validation-for="Place.Description"></span>
            </div>
        </div>
        <div class="row form-group">
            <label class="chelseafont fs-17 col-md-3 control-label">Pictures</label>
            <div class="col-md-2">
                <label class="btn btn-browse">
                    Browse&hellip; <input id="file-upload" type="file" multiple="multiple" asp-for="PictureFiles" style="display:none;"> 
                <label>
            </div>
            <label id="file-count"></label>
            <div class="container offset-md-3">
                <span asp-validation-for="PictureFiles"></span>
            </div>
        </div>

        <input type="hidden" id="GoogleToken" asp-for="GToken" />

        <div class="form-group">
            <div class="text-center chelseafont">
                <button type="submit" class="btn btn-submit btn-lg"> 
                    @if(Model.IsNewPlace) { <span>Submit</span> } else { <span>Save</span> }
                </button>
            </div>
        </div>
    </form>
</div>
}


@section Scripts
{
    <script src="https://www.google.com/recaptcha/api.js?render=@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key', {action: 'homepage'}).then(function(token) {
                $("#GoogleToken").val(token);
             });
        });
    </script>
}
