@page
@{
    ViewData["Title"] = "FAQ";
}

<div style="text-align: justify" class="container col-md-8 pt-5">

    <h2 style="white-space: pre">Frequently Asked Questions</h2>

    <!-- <div class=bottompad>
        <div class="row">
            <div class=col-md-3>
                <p class="fs-20b"> Question </p>
            </div>
            <div class=col-md-9>
                <p class="fs-20b"> What would happen if a bad tenant came in, would it be the fault of the former tenant ?</p>
            </div>
        </div>

        <div class=row>
            <div class=col-md-3>
                <p class="fs-18"> Answer </p>
            </div>
            <div class=col-md-9>
                <p class="fs-18"> No. </p>
            </div>
        </div>
    </div> -->

</div>

@section Scripts
{

}