@page
@model Blitzmove.Pages.FavoritesModel;
@{
    ViewData["Title"] = "Favorites";
    var myfavs = Model.MyFavorites.ToList();
}

<div class="container">
    <h2 class="title"> 
        Favorites
        <img class="mt-3 float-right" src="/pics/no_fav.png" />
    </h2>

    @if(myfavs.Count() == 0){
        <div class="container watermark">
            <span class="fs-20 chelseafont"> No Favorites. </span>
        </div>
    }
    else{
        <div class="container favorites">

            <form method="post" asp-antiforgery="true">

                <ul class="list-group-fav">

                    @foreach (var fav in myfavs)
                    {
                        @if (fav == null) {continue;}

                        <li>
                            <a asp-page="/Place" asp-route-id="@fav.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="row">                                
                                <div class="col-4">
                                    <div class="row">                                
                                        <div class="col-6 col-sm-3">
                                            <button style="height:40px" class="btn btn-link deletefav" type="submit" asp-page-handler="delete" asp-route-fav="@fav.Id"> 
                                                <i class="fa fa-times text-danger"></i> 
                                            </button> 
                                        </div>
                                        <div class="col-6 col-sm-9">
                                            @if(fav.Pictures.Count != 0)
                                            {
                                                <img class="imgpreview" src="@fav.GetInlinePictureSrc(0)" />
                                            }
                                            else { <img class="imgpreview" src="/pics/default-place.png" /> }
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 offset-2">
                                    <div class="d-flex w-100 justify-content-between">
                                        <div id="rentandbeds">
                                            <h5 class="fw-211"> $@fav.Rent </h5>
                                            @if(@fav.Bedrooms != 0)
                                            {
                                                <p class="fs-17"> @fav.Bedrooms BEDS </p>
                                            }
                                            else 
                                            {
                                                <p class="fs-17"> STUDIO </p>
                                            }
                                        </div>
                                        
                                    </div>
                                </div>                    
                            </div>
                            </a>
                        </li>
                    }

                </ul>

            </form>
        </div>
    }

</div>