﻿@page
@using System.Globalization
@model Blitzmove.Pages.MessagesModel
@{
    ViewData["Title"] = "Messages";
}

<div class="container pb-5">
    
    <h2 class="title">
        Messages 
        <img class="mt-3 mb-5 float-right" src="/pics/chat.png" />
    </h2>

    <div class="inbox_msg">
        <div class="inbox_people col-md-4">
            <form method="post" asp-antiforgery="true">
                <ul class="inbox_chat" id="chatlist">
                    
                    @foreach (var c in Model.Contacts)
                    {
                        var lastReceivedMsgTime = Model.Conversations[c.Id]?.Item2.OrderByDescending(m => m.CreatedDateTime)
                                                                                .FirstOrDefault()?.CreatedDateTime
                                                                                .ToString(CultureInfo.InvariantCulture); 
                        if(c.Id == @Model.SuperContactId)
                        {
                            <li>
                                <a id="blitzmoveTab" class="list-group-item list-group-item-action chelseafont" contactId=@c.Id>
                                    <div class="chat_people">
                                        <input tag="contactId" type="hidden" value=@c.Id>
                                        <div class="row">
                                            <div class="col-4 text-center p-0">
                                                <img class="blitzmove-profile-pic" src="~/favicon.ico">
                                            </div>
                                            <div class="col-8">
                                                <p class="fw-100m pt-3 pb-0 mb-0"> Hi @Model.AppUser.Name </p>
                                                <p class="last_message_date"> @lastReceivedMsgTime </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                        else
                        {                            
                            <li>
                                <a class="contactTab list-group-item list-group-item-action chelseafont" contactId=@c.Id>
                                    <div class="chat_people">
                                        <input tag="contactId" type="hidden" value=@c.Id>
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <button class="btn btn-link p-0" type="submit" asp-page-handler="ArchiveConversation" asp-route-selectedContact="@c.Id"> 
                                                    <i class="fa fa-times text-danger"></i> 
                                                </button> 
                                            </div>
                                            <div class="col-3 p-0">
                                                @if(@c.ProfilePic != null)
                                                {
                                                <img class="messager-profile-pic" src="@c.ProfilePic"/> 
                                                }
                                                else
                                                {
                                                <img class="messager-profile-pic" src="/pics/profile_pic.png"/> 
                                                }
                                            </div>
                                
                                            <div class="col-7 justify-content-between">
                                                <p class="messager_username"> @Model.Conversations[c.Id]?.Item1 </p>
                                                <p class="last_message_date"> @lastReceivedMsgTime </p>
                                                <!-- <p> last message preview </p> -->                                
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </form>
        </div>

        <div class="mesgs col-md-8" id="convoPartial">
            <input id="recipientId" type="hidden" asp-for="ActiveConversationContactGuid">
            <input id="senderId" type="hidden" asp-for="AppUserId">
            <div id ="convo_messages" class="msg_history">
                <partial name="Shared/_ConversationPartial" for="@Model"/>
            </div>
            <div id="sendBox" class="type_msg">
                <div class="input_msg_write">
                    <input id="messageInput" maxlength="1000" asp-for="WrittenMessageFieldContent" placeholder="Send a message" />
                    <button id="sendButton" class="msg_send_btn" type="button">
                        <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- confirmation zone -->
<!-- <div id="removeModal" class="modal hide" role="dialog" aria-labelledby="deleteConvModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <span class="fs-18"> Are you sure ? </span>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button id="actionDelete" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div> -->

@section Scripts
{

}
