@page
@model Blitzmove.Pages.MyApplicationsModel
@{
    ViewData["Title"] = "My Applications";
    var myApplications = Model.MyApplications.ToList();
}

<div class="container">

    <h2 class="title">
        My Applications
        <img class="mt-3 mb-5 float-right" src="/pics/img_apps.png" />
    </h2>


    @if(myApplications.Count() == 0){
        <div class="container watermark">
            <span class="fs-20 chelseafont"> You haven&#39;t applied to any place yet.</span>
        </div>
    }
    else{
        <form method="post" asp-antiforgery="true" id="placetable">
            <table class="table">

                <tbody>
                    @foreach (var application in myApplications)
                    {
                    <tr class="bluerow">
                        <td class="text-center fs-18"> @application.Application.CreationTime.ToString("MMMM dd, yyyy") </td>
                        
                        <td class="text-center fs-18">
                            @if(@application.Address != "deleted")
                            {
                                <a asp-page="./Place" asp-route-id="@application.Application.PlaceAppliedToGuid"> 
                                    <b> @application.Address </b>
                                </a>
                            }
                            else 
                            {
                                <i class="fs-17">Deleted by user</i>
                            }
                            
                        </td>

                        <td class="text-center fs-18"> $@application.Application.PromisedReward </td>
                        
                        <td class="text-center">
                            @if(application.Application.Status == -1){
                                <span class="badge badge-primary"> in-progress </span>
                            }
                            else if(application.Application.Status == 0 || application.Application.Status == -2){
                                <span class="badge badge-danger"> Declined </span>
                            }
                            else if(application.Application.Status == 1){
                                <span class="badge badge-warning"> Invited </span>
                            }
                            else if(application.Application.Status == 2){
                                <span class="badge badge-success"> Payment requested </span>
                            }
                        </td>

                        <td class="text-center">
                            @if(@application.Address != "deleted" &&
                                (@application.Application.PromisedReward > 0 && @application.Application.Status != 0))
                            {
                            <button class="btn btn-sm btn-success d-none"> Pay Now </button>
                            }
                            <a role="button" class="btn btn-sm btn-danger btn-delete" href="#applicationModal" data-toggle="modal">  Delete  </a>
                            <button class="finalDelete" style="display:none" type="submit" asp-page-handler="delete" asp-route-id="@application.Application.Id"> Delete </button>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </form>
    }

    <div id="applicationModal" class="modal hide" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="fw-111 float-left" id="myModalLabel">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <span class="fs-18"> Application will be permanently deleted. Are you sure ? </span>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button id="actionDelete" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts
{

}