@page
@{
    ViewData["Title"] = "My Balance";
}

<div class="container">
    <h2 class="title">
        My Balance 
        <img class="mt-3 mb-5 float-right" src="/pics/wallet.png" />
    </h2>

    
</div>

@section Scripts
{

}