@page
@model Blitzmove.Pages.MyPlacesModel
@{
    ViewData["Title"] = "My Places";
    var myPlaces = Model.MyPlaces.ToList();
}

<div class="container">
    
    <h2 class="title"> 
        My Places
        <img class="mt-3 mb-5 float-right" src="/pics/img_places.png" />
    </h2>

    @if(myPlaces.Count() == 0){
        <div class="container watermark">
            <span class="fs-20 chelseafont"> You haven&#39;t added any place yet.</span>
        </div>
    }
    else{
        <form id="myplacesform" method="post" asp-antiforgery="true">
            <table class="table">
                <tbody>
                    @foreach (var p in myPlaces)
                    {
                        @** The Place **@
                        <tr class="beigerow">
                            <td class="text-center fs-18"> 
                                <span>
                                    <b>@p.place.VisitorCount</b> Views 
                                    <!-- <i style="color:rgb(255, 200, 98);" class="fa fa-question-circle" 
                                        data-toggle="tooltip" data-placement="top" title="Registered Users only"></i> -->
                                </span>
                            </td>
                            <td class="text-center fs-18">
                                <a asp-page="./Place" asp-route-id="@p.place.Id"> <b>@p.place.Address</b> </a>
                            </td>
                            <td class="text-center fs-18">
                                <b>@p.place.NumberOfApplicants</b> Applicants
                            </td>
                            <td class="text-center">
                                <a role="button" class="btn btn-sm btn-warning" asp-page="./CreatePlace" asp-route-id="@p.place.Id"> Edit </a>
                                <a role="button" class="btn btn-sm btn-danger btn-delete" href="#placeModal" data-toggle="modal">  Delete  </a>
                                <button class="d-none finalDelete" type="submit" asp-page-handler="delete" asp-route-id="@p.place.Id"> Delete </button>
                            </td>
                        </tr>

                        @** The Applicants **@
                        @foreach (var applicant in p.ListOfApplicants)
                        {
                        <tr>
                            <td style="display:table-cell;vertical-align:middle;" class="p-0 text-center fs-15">
                                @if(@applicant.ProfilePic != null)
                                {
                                    <img class="applicant-profile-pic" src=@applicant.ProfilePic>
                                }
                                else{
                                    <img class="applicant-profile-pic" src="/pics/profile_pic.png">
                                }
                            </td>
                            
                            <td style="display:table-cell; vertical-align:middle;" class="text-center fs-15">

                                <p class="mb-2 mt-2"> @applicant.Username is offering <b>$@applicant.PromisedReward</b>. </p>

                                @if (@applicant.JobTitle != null)
                                {
                                    <span class="d-inline-block"> <i>Job Title:</i>  <b>@applicant.JobTitle</b> </span>
                                }  
                                @if (@applicant.Salary !=0)
                                {
                                    <span class="d-inline-block">  <i>Yearly Salary:</i>  <b>$@applicant.Salary</b> </span>
                                }
                                @if (@applicant.CreditScore != 0)
                                {
                                    <span class="d-inline-block">  <i>Credit Score:</i> <b>@applicant.CreditScore</b> </span>
                                }
                                
                                @if (@applicant.Details != null)
                                {
                                    <p class="application-details"> @applicant.Details </p>
                                }                  
                                
                            </td>

                            <td style="display:table-cell;vertical-align:middle;" class="text-center fs-15">
                                @if(applicant.ApplicationStatus == -1){
                                    <span class="badge badge-primary">Waiting for action</span> 
                                }
                                else if(applicant.ApplicationStatus == 0 || applicant.ApplicationStatus == -2 ){
                                    <span class="badge badge-danger">Declined</span>
                                }
                                else if(applicant.ApplicationStatus == 1){
                                    <span class="badge badge-warning">Invited</span>
                                }
                                else if(applicant.ApplicationStatus == 2){
                                    <span class="badge badge-success">Payment requested</span> 
                                }
                            </td>

                            <td class="text-center" style="display:table-cell;vertical-align:middle;">

                                @if(applicant.ApplicationStatus != -2){
                                    <button id="actiondropdown" type="button" class="btn btn-sm btn-outline-info dropdown-toggle" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                }
                                else{
                                    <button id="actiondropdown" type="button" class="btn btn-sm btn-outline-info dropdown-toggle" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                        Action
                                    </button>
                                }
                            
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="actiondropdown">
                                    <button type="submit" class="dropdown-item fs-15" asp-page-handler="Invite" asp-route-id="@p.place.Id" asp-route-query="@applicant.ApplicationId"> Invite for a visit </button>
                                    <button type="submit" class="dropdown-item fs-15" asp-page-handler="Decline" asp-route-id="@p.place.Id" asp-route-query="@applicant.ApplicationId"> Decline Offer </button>
                                    @if(applicant.ApplicationStatus != 2){
                                        <button type="submit" class="dropdown-item fs-15" asp-page-handler="RequestPayment" asp-route-id="@p.place.Id" asp-route-query="@applicant.ApplicationId"> Request Payment </button>
                                    }
                                    else{
                                        <button type="submit" class="dropdown-item fs-15" asp-page-handler="CancelPaymentRequest" asp-route-id="@p.place.Id" asp-route-query="@applicant.ApplicationId"> Cancel Payment Request </button>
                                    }
                                    <a role=button class="dropdown-item fs-15" data-toggle="modal" href="#MessageModal" 
                                       data-applicantid="@applicant.Id" data-username="@applicant.Username"> Send Message </a>
                                </div>
                                
                            </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </form>
    }

    <div id="placeModal" class="modal hide" role="dialog" aria-labelledby="deletePlaceModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="fw-111 float-left" id="deletePlaceModal">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <span class="fs-18"> This place will be permanently deleted. Are you sure ? </span>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button id="actionDelete" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <div id="MessageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="MessageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div id="MessageModalContent" class="modal-content">

                <div class="modal-body">
                    <form method="post">
                        <h5 class="modal-title fs-20 pb-3" id="MessageModalLabel">New Message</h5>

                        <input type="hidden" class="form-control" asp-for="ApplicantId" id="modal-applicantid">

                        <textarea class="form-control" rows=3 asp-for="Message" id="modal-textmessage"></textarea>

                        <div class="text-center pt-3">
                            <button type="submit" class="btn btn-primary" asp-page-handler="Message"> Send </button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>

@section Scripts
{

}