@page "{id}"
@model PlaceModel
@{
    var place = Model.Place;
    var profilePic =  Model.ProfilePicture ?? "/pics/profile_pic_mini.png";
    var profileName =  Model.ProfileName ?? "user";

    var orderedAdPictures = place.Pictures?.OrderBy(p => p.PicOrder).ToList();
    string bedroomOrStudio = place.Bedrooms == 0 ? "Studio" : place.Bedrooms == 1 ? place.Bedrooms + " Bedroom" : place.Bedrooms + " Bedrooms";
    string composedTitle = "$" + place.Rent.ToString() + " | " + bedroomOrStudio + " | " + place.Address;
    ViewData["Title"] = composedTitle;
    
    var _withNewAddress = !String.IsNullOrEmpty(place.NewAddress);
    var _rewards = place.Rewards.ToList();
}

<div class="container">

    @if(TempData[PlaceModel.MessageKey] is string message)
    {
        <div class="padfifty container">
            <div class="apply-info">
                <p class="chelseafont fs-17b"> <i class="fa fa-info-circle"></i> @message </p>
            </div>
        </div>
    }

    <div class="container">
        <h2 id="place-title" class="title"> @composedTitle </h2>
    </div>
    <div class="row">
        <div class="col-md-8">
            <!--carousel-->
            @if (orderedAdPictures.Count() != 0)
            {
                <div class="container mb-5">
                    <div id="maincarousel" class="carousel" data-interval="false" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <!--indicators-->
                            @for (int i = 0; i < orderedAdPictures.Count(); i++)
                            {
                                <li data-target="#maincarousel" data-slide-to=Integer.toString(i)></li>
                            }
                        </ol>
                        <div id="carouselcenter" class="carousel-inner">
                            <!--pictures-->
                            <div class="carousel-item active">
                                <img src="@place.GetInlinePictureSrc(0)"> <!--primary pic-->
                            </div>
                            @for (int i = 1; i < @orderedAdPictures.Count(); i++)
                            {
                                <div class="carousel-item">
                                    <img src="@place.GetInlinePictureSrc(i)">
                                </div>
                            }
                        </div>

                        @if (orderedAdPictures.Count() > 1)
                        {
                            <a class="carousel-control-prev" href="#maincarousel" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#maincarousel" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        }
                        
                    </div> <!--carousel-->
                </div> <!--carousel container-->
            }

            <div class="container pb-5">
                <div class="row">
                    <div class="col-7 col-sm-6 pr-0">
                        <partial name="Shared/_SocialSharePartial"/> 
                    </div>
                    <div class="col-5 col-sm-6 pl-0">
                        <button id="placeFavorite" class="btn btn-outline-secondary chelseafont">
                            @if(@Model.IsFaved)
                            {
                                <i id="placeFavSign" class="fa fa-heart"></i>
                                <span id="placeFavText" class="d-inline-block"> Favorited </span>
                            }
                            else
                            {
                                <i id="placeFavSign" class="fa fa-plus"></i>
                                <span id="placeFavText" class="d-inline-block"> Favorite </span>
                            }
                        </button>
                    </div>
                </div>
            </div>

            <div class="container">
                <span class="fw-100 chelseafont">Description</span>
                <p id="addescription" class="fs-18">
                    @place.Description
                </p>
            </div>

            @if(!(TempData[PlaceModel.MessageKey] is string message1))
            {
                <form method="post" asp-antiforgery="true">
                    <div asp-validation-summary="ModelOnly"/>
                    <div class="container">
                        <div class="reward-section">
                            <div class="container row">
                                <div class="text-center col-8 col-md-6">
                                    <span class="fw-100 chelseafont"> 
                                        <i class="fa fa-info-circle" data-toggle="tooltip"
                                            data-placement="top" title="Reward to tenant"></i> Reward $
                                    </span>
                                </div>
                                <div class="col-4 col-md-6">
                                    <input asp-for="RewardValue" type="number" min="0" class="form-control text-center" />
                                    <span  asp-validation-for="RewardValue"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padfifty container text-center chelseafont pb-5">
                        <button type="submit" class="btn btn-submit btn-lg"> Apply </button>
                    </div>
                    @if(TempData[PlaceModel.MessageOwn] is string messageown)
                    {
                        <div class="container">
                            <p class="fs-15b text-center"> @messageown </p>
                        </div>
                    } 
                </form>
            }
        </div>

        <div class="col-md-4">
            <div id="admap"></div>
            <div class="container roboto" id="adinfos">
                <!--Current Address-->
                <div class="row">
                    <div class="col-2 text-center">
                        <img src="~/pics/default-icon.png" height="20">
                    </div>
                    <div class="col-10">
                        <p class="fs-15">Currently lives in @place.Address</p>
                    </div>
                </div>
                <!--New Target Address-->
                @if(@_withNewAddress)
                {
                <div class="row">
                    <div class="col-2 text-center">
                        <img src="~/pics/circle-16.png" height="10">
                    </div>
                    <div class="col-10">
                        <p class="fs-15">Would prefer to live near @place.NewAddress</p>
                    </div>
                </div>
                }
                <!-- Number of applicants-->
                <div class="row">
                    <div class="col-2 text-center">
                        <i class="fa fa-lg fa-users"></i>
                    </div>
                    <div class="col-10">
                        <p class="fs-15">@place.NumberOfApplicants Applicants </p>
                    </div>
                </div>
                <!-- Scatter plot -->
                <div class="row">
                    <div class="col-2">
                        <div class="row float-right">
                            <p class="fs-12">$</p>
                            <p id="rmin" class="fs-12"></p>
                        </div>
                    </div>
                    <div class="col-8">
                        <div id="scatterplot"></div>
                    </div>
                    <div class="col-2">
                        <div class="row float-left">
                            <p class="fs-12">$</p>
                            <p id="rmax" class="fs-12"></p>
                        </div>                    
                    </div>
                </div>

                <div class="container" id="adcontact">
                    <div class="row pb-2">
                        <div class="col-3 text-center">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="col-9">
                            <span class="fs-15">Posted on @place.PostDate.ToString("MMMM dd, yyyy")</span>
                        </div>
                    </div>
                    <div class="row pb-2">
                        <div class="col-3 text-center">
                            <img class="mini-profile-pic" src=@profilePic>
                        </div>
                        <div class="col-9">
                            <span class="fs-15">By @profileName </span>
                        </div>
                    </div>

                    @if(!Model.UserIsOwner)
                    {
                    <form class="text-center border border-light p-1" asp-antiforgery="true">
                        <!-- Message -->
                        <div class="form-group">
                            <textarea spellcheck="true" maxlength="700" class="form-control rounded-3" id="messagearea" rows="3" placeholder="Message the current tenant" asp-for="Message"></textarea>
                        </div>
                        <!-- Send button -->
                        @if(TempData[PlaceModel.MessageSent] is string messagesent)
                        {
                            <div class="container">
                                <p class="chelseafont fs-17"> @messagesent </p>
                            </div>
                        }
                        else{
                            <button class="btn btn-info btn-block chelseafont" type="submit" asp-page-handler="Message">Send</button>
                        }
                    </form> 
                    }

                </div>
            </div>
        </div>
    </div> <!--row-->

</div>

<div id="carouselModal" class="modal">
  <span id="carouselModalClose" class="close">&times;</span>
  <img class="modal-content" id="carouselModalImg">
</div>

@section Scripts
{
    <script>

        var withNewAddress = @_withNewAddress.ToString().ToLower();
        var loc = [@place.GpsLongitude, @place.GpsLatitude];
        var newloc = [];
        if(withNewAddress) newloc = [@place.NewGpsLongitude, @place.NewGpsLatitude];

        var rewardsObj = JSON.parse('@Html.Raw(Json.Serialize(@_rewards))');
    </script>
}